[Desktop Entry]
Name=Razer Laptop Control
Comment=App to control your Razer laptop
Categories=GNOME;GTK;
Keywords=System;Utilities;
Version=1.0
Exec=razercontrol-gui
Terminal=false
Type=Application
Icon=/usr/share/razercontrol/logo1.png